@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple way to set everything to have a consisten line-height. Don't like
 * wrestling with different line heights per element.
 */
* {
    line-height: 1 !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes dialog-content-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dialog-content-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@layer utilities {
    .clip-your-needful-style {
        clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
    }

    .clip-your-needful-style:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: -12px;
        left: -12px;
        rotate: 45deg;
    }
}
